.hero {
    background: url('banner.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .hero-content {
    z-index: 1;
    text-align: center;
  }

  /* Seção de serviços */
  .service-card {
    transition: transform 0.3s;
  }

  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  /* Seção de depoimentos */
  .testimonial {
    background: #f8f9fa;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }

  /* Estilo do rodapé */
  footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 2rem 0;
  }

    #logo{
    height: 50px;
    width: 50px;
  }

  .tamanhologo {
    width: 50px;
    height: 50px;
  }